table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 1rem;
}

th, td {
  text-align: left;
  padding: 8px;
  max-width: 200px;
  vertical-align: text-top;
}

.cell-sm {
  width:0.1%;
  white-space: nowrap;
}

.modal-dialog .modal-content {
  background: #282c34;
  color: rgb(227, 227, 227);
}

.modal-header .btn-close {
  filter: invert(1);
}

