table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid green;
}

th, td {
  text-align: left;
  padding: 8px;
  max-width: 200px;
  vertical-align: text-top;
}

.cell-sm {
  width:0.1%;
  white-space: nowrap;
}
