.App {
  background-color:  #3e485a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  background:  #282c34;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  padding: 2em;
  justify-content: start;
  margin-top: 10vh;
}

.view-tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 10%;
  border-radius: 16px 16px 0 0;
  overflow: hidden;
}

.view-tab {
  padding: 1rem 2em;
  text-align: center;
  cursor: pointer;
  color: rgb(172, 172, 172);
}

.view-tab.active {
  color: rgb(228, 228, 228);
  font-weight: bold;
  border-bottom: 2px solid rgb(66, 121, 198);
}
