.App {
  background-color:  #3e485a;
  min-height: 100vh;
  color: rgb(238, 238, 238);
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 80%;
  min-width: 800px;
  min-height: 620px;
  background:  #282c34;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 16px;
}

.view-tabs {
  height: 10%;
  border-radius: 16px 16px 0 0;
  overflow: hidden;
}

.view-tab {
  padding: 1rem 2em;
  text-align: center;
  cursor: pointer;
  color: rgb(172, 172, 172);
}

.view-tab.active {
  color: rgb(228, 228, 228);
  font-weight: bold;
  border-bottom: 2px solid rgb(66, 121, 198);
}
